{% extends 'base.html' %}
{% block content %}

<h1>Shopping Cart</h1>

<h5>Your Items:</h5>

{{message}}

<div class="container">
{% for post in usercart %}
<!-- {% print(usercart) %} -->

    <div class="row">
        <div class="cart card" style="width: 18rem;">

           
            
                <a class="text-dark text-decoration-none" href="#">
                    <img src="{{ post.img_url }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.item_name }} </h5>
                        <p class="card-text">${{ post.price }}.00</p>
                    </div>
                </a>
           
            <a type="button" class="btn btn-danger"
                href="{{ url_for('removeFromCart', item_name = post.item_name) }}"  action="">Delete</a>

            
        </div>
    </div>
    {% endfor %}
    <h3>Grand Total:${{ grand_total }}</h3>
</div>


{% endblock %}