{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center"> 
        <h1> E-shop </h1>
        <br>
        <h3> click on image to add to cart!</h3>
    </div>
</div>

    {% for post in posts %}
    <div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;" >
            <form method="POST">
            <a class="text-dark text-decoration-none" href="{{ url_for('addToCart', item_id = post.id) }}">
                <img src="{{ post.img_url }}" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                <h5 class="card-title">{{ post.item }} </h5>
                <p class="card-text">${{ post.price }}.00</p>
                </div>
            </a>
            </form>
        </div>
    </div>
    </div>
    {% endfor %}

{% endblock %}
